
/* ****************************************************************************liens***************************************************************************************** */

@import url(//db.onlinewebfonts.com/c/9a630f139df6b300b375f48f9ab52dc6?family=StalkerW00-Regular);
@import url('https://fonts.cdnfonts.com/css/stalker');
@import url('https://fonts.cdnfonts.com/css/amaz-stalker');
    
    /* font-family: 'STALKER1', sans-serif; */
    /* font-family: "StalkerW00-Regular"; */
    /* font-family: 'AmazS.T.A.L.K.E.R.Italic', sans-serif; */
    /* font-family: 'AmazS.T.A.L.K.E.R.v.3.0', sans-serif; */

/* *********************************************************************************bases************************************************************************************ */

html {
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
}

a {
  text-decoration: none;
  color: rgb(255, 136, 0);
}

li {
  list-style-type: none;
}

nav1{
 position: fixed;
  background-image: linear-gradient(to bottom, #ffb14b, #552900);
  width: 0.3%;
  height: 100%;
}

nav2{
  position: fixed;
  background-image: linear-gradient(to bottom, #ffb14b, #552900);
  left: 99.7%;

  height: 100%;
}

/* *************************************************************premier-page**************************************************************** */
.content{
  padding-top: 0px;
  background: url(stalker2-woods.gif) no-repeat fixed 50% 50%;
  z-index: 2;
  background-size: cover;
}

.i {
  background: #ffffff;
  margin: 100px auto 0;
  box-shadow: 0 0 0 0 #000;
  animation: pulse 1.3s infinite;
}
  
@keyframes pulse {
  to {
      box-shadow: 0 0 0 18px rgba(0, 0, 0, 0.1);
  }
}
/* **********************************titre*************************************** */
h1{
    font-size: 5.5em;
    color: #000000;
    position: relative;
    bottom: 23%;
    left: 0%;
    font-family: 'AmazS.T.A.L.K.E.R.v.3.0', sans-serif;
    padding-bottom: 3px;
    text-align: center;
    animation: apparition 2s ease-out;} 


    .content {
        display: flex;
        width: 100vw;
        height: 100vh;
        background-color: black;
    }
    .text {
        margin: auto;
        font-family: 'AmazS.T.A.L.K.E.R.v.3.0', sans-serif;
        font-size: 120px;
        text-transform: uppercase;
      }
      .glitch {
        position: relative;
        color: rgb(255, 153, 0); 
        mix-blend-mode: lighten;
      }
      .glitch:before,
      .glitch:after {
        content: attr(data-text);
        position: absolute;
        top: 0;
        width: 100%;
        background: black;
        clip: rect(0, 0, 0, 0);
      }
      .glitch:before {
        left: -1px;
        text-shadow: 1px 0 rgba(255, 255, 255, 0.466);
      }
      .glitch:after {
        left: 1px;
        text-shadow: -1px 0 rgba(255, 175, 71, 0.753);
      }
      .glitch:before {
        text-shadow: 4px 0 rgba(255, 255, 255, 0.418);
        animation: glitch-loop-1 0.6s infinite ease-in-out alternate-reverse;
      }
      .glitch:after {
        text-shadow: -5px 0 rgba(255, 177, 61, 0.7);
        animation: glitch-loop-2 0.6s infinite ease-in-out alternate-reverse;
      }
      @keyframes glitch-loop-1 {
        0% {
          clip: rect(36px, 9999px, 9px, 0);
        }
        25% {
          clip: rect(25px, 9999px, 99px, 0);
        }
        50% {
          clip: rect(50px, 9999px, 102px, 0);
        }
        75% {
          clip: rect(30px, 9999px, 92px, 0);
        }
        100% {
          clip: rect(1001px, 9999px, 9800px, 0);
        }
      }
      @keyframes glitch-loop-2 {
        0% {
          top: -1px;
          left: 1px;
          clip: rect(65px, 9999px, 119px, 0);
        }
        25% {
          top: -6px;
          left: 4px;
          clip: rect(79px, 9999px, 19px, 0);
        }
        50% {
          top: -3px;
          left: 2px;
          clip: rect(68px, 9999px, 11px, 0);
        }
        75% {
          top: 0px;
          left: -300000px;
          clip: rect(95px, 9999px, 530px, 0);
        }
    100% {
        top: -1px;
        left: -100px;
        clip: rect(31px, 9999px, 149px, 0);
    }
}


@keyframes apparition{
    from{
        opacity: 0;
        transform: translateY(-65px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
/* **********************************************h2************************************************ */

#h2{
  bottom: 93px;
  font-size: 2.2em;
  color: rgb(255, 136, 0);
  position: relative;
  font-family: 'STALKER1', sans-serif;
  text-align: center;
  animation: apparition2 7s ease-out;} 

  .contente {
      display: flex;
      background-color: black;
  }


@keyframes apparition2{
from{
    opacity: 0;
    transform: translate(-40px);
}
to{
    opacity: 0.9;
    transform: translateY(0px);
}
}

/* **********************************************flèche***************************************************** */

#h3{
  bottom: 100px;
  font-size: 2.2em;
  color: rgb(255, 136, 0);
  position: relative;
  text-align: center;
  animation: apparition3 5s ease-out;} 
  
  .contentee {
    display: flex;
    background-color: black;
}

.contentee:hover {
  cursor: pointer;
  transition: 0.4s ease-in-out;
  border-bottom: 3.5px solid #000000;
  font-weight: bold;
  transform: scale(1.051);
  transition: 0.6s;
} 

@keyframes apparition3{
from{
    opacity: 0;
    transform: translateY(-2000px);
}
to{
    opacity: 0.9;
    transform: translateY(0px);
}
} 

/* **** */


/* **************************************************************************intro******************************************************************************************* */

#intro{
  background-image: linear-gradient(to bottom, #fff, #525645);
  width: 100%;
  height: 100%;
  margin-bottom: 0%;
}



#texteintro{
  text-align: center;
  font-size: 1.5em;
  margin-left: 40%;
  margin-right: 40%;
  font-family: 'STALKER2', sans-serif; 
  padding-top: 1%;
}
#texteintro {
  display: grid;
  margin: 0 auto;
  max-width:1200px;
}
#texteintro p {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 5.5s ease-in-out;
}



.image-intro {
  display: grid;
  max-width:1000px;
  margin: 0 auto;
  opacity: 0.96;
}
.image-intro img {
  margin-top: 40px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  border: 1px solid #000000;
  border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow: 1px 5px 31px 10px #000000; 
  box-shadow: 1px 5px 31px 10px #000000;
}

/* ************************************************************************pertie1*************************************************************************************** */

/* *********************************************************** */

#h2-1{
  margin-top: 14%;
  font-size: 7.8em;
  font-family: 'AmazS.T.A.L.K.E.R.v.3.0', sans-serif;
  text-align: center;
}
#h3-1-1{
  margin-top: 5%;
  font-size: 2.8em;
  font-family: 'STALKER2', sans-serif;
  margin-left: 13% ;
  margin-bottom: -1%;
}
#p-1-1{
  margin-top: 130px;
  margin-left: 42%;
  margin-right: 13%;
  font-size: 1.5em;
  font-family: 'STALKER1', sans-serif;
  text-align: center;
  float: right;
}
#img-1-1{
  z-index: 1;
  max-width: 500px;
  margin-left: 0px;
  margin-top: 2.5%;
  margin-bottom: 0px;
  margin-right: 23%;
  float: right;
  -webkit-box-shadow: 13px 14px 35px 4px rgba(0, 0, 0, 0.925); 
  box-shadow: 13px 14px 35px 4px rgba(0, 0, 0, 0.908);
  opacity: 0.96;
}
#img-1-2{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgb(0, 0, 0);
  z-index: 0;
  max-width: 450px;
  margin-left: 13%;
  margin-top: -350px;
  margin-bottom: 0px;
  margin-right: 0px;
  float: left;
  opacity: 0.96;
}
#p-1-2{
  margin-top: 885px;
  margin-left: 22%;
  margin-right: 22%;
  margin-bottom: 10%;
  font-size: 1.7em;
  font-family: 'STALKER1', sans-serif;
  text-align: center;
}

#img-1-2:hover {
  transform:scale(1.006);
  opacity: 1;
}
#img-1-1:hover {
  transform:scale(1.006);
  opacity: 1;
}
#p-1-1:hover {
  transform:scale(1.01);
}
#p-1-2:hover {
  transform:scale(1.01);
}

/* *********************************************** */
#couleur-arrier-1{
  background-image: linear-gradient(to bottom, #614120, #251b12);
  height: 875px;
  padding-top:0.1px;
}
#h3-1-2{
  margin-top: 30px;
  font-size: 3.3em;
  padding-left:52% ;
  font-family: 'STALKER2', sans-serif;
}
#p-1-3{
  text-align: center;
  font-family: 'STALKER1', sans-serif;
  margin-top: 6%;
  margin-left: 15%;
  margin-right: 51%;
  font-size: 1.6em;
  text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.249), 1px 1px 1px rgba(0, 0, 0, 0.76);
}
#img-1-3{
  max-width: 440px;
  margin-left: 0%;
  margin-right: 14%;
  margin-top: -18.5%;
  float: right;
  -webkit-box-shadow: 9px 6px 9px 5px rgba(0, 0, 0, 0.586); 
 box-shadow: 9px 6px 9px 5px rgba(0, 0, 0, 0.559);
}
#img-1-4{
  max-width: 640px;
  margin-left: 14%;
  margin-right: 0%;
  margin-top: 4.2%;
  float: left;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow: 10px 6px 15px 3px #000000; 
  box-shadow: 10px 6px 15px 3px #000000;
  border: 3px solid #000000;
}

#p-1-3:hover {
  transform:scale(1.01);
}
#img-1-3:hover {
  transform:scale(1.007);
}
#img-1-4:hover {
  transform:scale(1.007);
}


/* ****************************************************** */
#h3-1-3{
  margin-top: 18%;
  font-size: 3.5em;
  font-family: 'STALKER2', sans-serif;
  text-align: center;
}
#p-1-4{
  text-align: center;
  font-family: 'STALKER1', sans-serif;
  margin-top: 3%;
  margin-left: 23%;
  margin-right: 23%;
  font-size: 1.5em;
}
#img-1-5{
  max-width: 365px;
  margin-left: 10%;
  margin-top: 1.5%;
  float: left;
  -webkit-box-shadow: 20px 16px 24px -1px #000000; 
  box-shadow: 20px 16px 24px -1px #000000;
}
#img-1-6{
  max-width: 370px;
  margin-left: 10%;
  margin-top: 1.5%;
  -webkit-box-shadow: 20px 16px 24px -1px #000000; 
  box-shadow: 20px 16px 24px -1px #000000;
}
#img-1-7{
  max-width: 390px;
  margin-left: 10%;
  margin-top: -28%;
  margin-right: 10%;
  float: right;
  -webkit-box-shadow: 20px 16px 24px -1px #000000; 
  box-shadow: 20px 16px 24px -1px #000000;
}


#img-1-5:hover {
  transform:scale(1.005);
}
#img-1-6:hover {
  transform:scale(1.01);
}
#img-1-7:hover {
  transform:scale(1.013);
}
#p-1-4:hover {
  transform:scale(1.01);
}
/* ************************************************************************************partie2*********************************************************************************** */

#h2-2{
  margin-top: 300px;
  font-size: 6.1em;
  font-family: 'AmazS.T.A.L.K.E.R.v.3.0', sans-serif;
  text-align: center;
}
#p-2-1{
  text-align: center;
  font-family: 'STALKER1', sans-serif;
  margin-top: 1%;
  font-size: 1.5em;
  float: right;
  margin-left: 18%;
  margin-right: 18%;
}
#img-2-1{
  margin-top: 1%;
  margin: 30px 22%;
  max-width: 1000px;
  border: 2px outset #000000;
  border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow: 12px 10px 15px 9px rgba(0,0,0,0.87); 
  box-shadow: 12px 10px 15px 9px rgba(0,0,0,0.87);
}
#couleur-arrier-2{
  background-image: linear-gradient(to bottom, #8c7d60, #4e4d18);
  height: 1100px;
  padding-top:0%;
}

#p-2-1:hover {
  transform:scale(1.01);
}
#img-2-1:hover {
  transform:scale(1.005);
}
/* **************************************************** */
#couleur-arrier-3{
  background-image: linear-gradient(to bottom, #ffffff, #ff000041, #ff72219d, #7293da, #ffff);
  height: 2550px;
  padding-top:0%;
}
#h3-2-1{
  margin-top: 17%;
  font-size: 3.5em;
  font-family: 'STALKER2', sans-serif;
  text-align: center;
}
#p-2-2{
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 1.8em;
  font-family: 'STALKER1', sans-serif;
  text-align: center;
}
#img-2-2{
  max-width: 1000px;
  margin-top: 2%;
  margin-left: 24%;
  margin-right: 24%;
  border: 1px inset #000000;
  border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow: 7px 6px 23px 14px rgba(0,0,0,0.63); 
  box-shadow: 7px 6px 23px 14px rgba(0,0,0,0.63);
  opacity: 0.9;
}
#img-2-3{
  max-width: 1000px;
  margin-top: 4%;
  margin-left: 24%;
  margin-right: 24%;
  border: 1px inset #000000;
  border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow: 7px 6px 23px 14px rgba(0,0,0,0.63); 
  box-shadow: 7px 6px 23px 14px rgba(0,0,0,0.63);
  opacity: 0.85;
}
#img-2-4{
  max-width: 1000px;
  margin-top: 4%;
  margin-left: 24%;
  margin-right: 24%;
  border: 1px inset #000000;
  border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow: 7px 6px 23px 14px rgba(0,0,0,0.63); 
  box-shadow: 7px 6px 23px 14px rgba(0,0,0,0.63);
  opacity: 0.8;
}




#p-2-2:hover {
  transform:scale(1.0085);
}
#zoom1 #zoom2 #zoom3{
  overflow: hidden;
}

#zomm1 #img-2-2{
  object-fit: cover;
  transition: transform 2s;
}
#zoom1:hover #img-2-2{
  -webkit-transform:scale(1.02);
  transform:scale(1.025);
  -webkit-transition:1s ease-in-out;
  transition:1s ease-in-out;
  opacity: 1;
}


#zomm2 #img-2-3{
  object-fit: cover;
  transition: transform 2s;
}
#zoom2:hover #img-2-3{
  -webkit-transform:scale(1.02);
  transform:scale(1.025);
  -webkit-transition:1s ease-in-out;
  transition:1s ease-in-out;
  opacity: 1;
}


#zomm3 #img-2-4{
  object-fit: cover;
  transition: transform 2s;
}
#zoom3:hover #img-2-4{
  -webkit-transform:scale(1.02);
  transform:scale(1.025);
  -webkit-transition:1s ease-in-out;
  transition:1s ease-in-out;
  opacity: 1;
}
/* ************************************************************************************ */
#h3-2-2{
  margin-top: 0%;
  font-size: 3.5em;
  font-family: 'STALKER2', sans-serif;
  margin-left: 13%;
}
#p-2-3{
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 49%;
  font-size: 1.8em;
  font-family: 'STALKER1', sans-serif;
}
#img-2-5{
  max-width: 800px;
  margin-left: 13%;
  border: 11px solid #000000;
  border-radius: 5px 5px 8px 8px;
  -webkit-box-shadow: 6px 10px 24px 5px rgba(0,0,0,0.8); 
  box-shadow: 6px 10px 24px 5px rgba(0,0,0,0.8);
}
#img-2-6{
  margin-top:-32%;
  margin-right: 8%;
  max-width: 530px;
  float: right;
  border: 1px solid #000000;
  border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow: 11px 14px 28px 8px #000000; 
  box-shadow: 11px 14px 28px 8px #000000;
}
#img-2-7{
  margin-top: 110px;
  margin-left: 16%;
  max-width: 600px;
  border: 1px solid #000000;
  border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow: 27px 24px 31px 9px rgba(0,0,0,0.91); 
  box-shadow: 27px 24px 31px 9px rgba(0,0,0,0.91);
}

#couleur-arrier-4{
  background-image: linear-gradient(to bottom, #ffffff, #b9ebbb, #fff);
  height: 1900px;
  padding-top:0%;
}
#p-2-3:hover {
  transform:scale(1.0085);
}
#img-2-5:hover {
  transform:scale(1.007);
}
#img-2-6:hover {
  transform:scale(1.007);
}
#img-2-7:hover {
  transform:scale(1.007);
}
/* ********************************************************* */
#h3-2-3{
  margin-top: 9%;
  font-size: 4em;
  font-family: 'STALKER2', sans-serif;
  text-align: center;
}
#img-2-8-1{
  margin-top: -1%;
  max-width: 830px;
  margin-left: 28%;
  margin-right: 28%;
  border: 2px solid #000000;
  border-radius: 5px 5px 5px 5px;
  -webkit-box-shadow: 14px 13px 25px 9px rgba(0,0,0,0.91); 
  box-shadow: 14px 13px 25px 9px rgba(0,0,0,0.91);
}
#p-2-4{
  margin-top: 9%;
  margin-left: 25%;
  margin-right: 25%;
  font-size: 1.645em;
  font-family: 'STALKER1', sans-serif;
  text-align: center;
}
#img-2-8{
  max-width: 800px;
  margin-left: 28%;
  margin-right: 28%;
  margin-top: 30px;
  -webkit-box-shadow: 17px 17px 31px 8px rgba(0,0,0,0.81); 
  box-shadow: 17px 17px 31px 8px rgba(0,0,0,0.81);
}
#img-2-9{
  max-width: 800px;
  margin-left: 28%;
  margin-right: 28%;
  margin-top: 2%;
  -webkit-box-shadow: 17px 17px 31px 8px rgba(0,0,0,0.81); 
  box-shadow: 17px 17px 31px 8px rgba(0,0,0,0.81);
}
#img-2-10{
  max-width: 800px;
  margin-left: 28%;
  margin-right: 28%;
  margin-top:2%;
  -webkit-box-shadow: 17px 17px 31px 8px rgba(0,0,0,0.81); 
  box-shadow: 17px 17px 31px 8px rgba(0,0,0,0.81);
}
#couleur-arrier-5{
  background-image: linear-gradient(to bottom, #ffffff, #929292, #fff);
  height: 1900px;
  padding-top:0%;
}
#p-2-4:hover {
  transform:scale(1.009);
}
#img-2-8-1:hover {
  transform:scale(1.005);
}
#img-2-8:hover {
  transform:scale(1.1);
}
#img-2-9:hover {
  transform:scale(1.1);
}
#img-2-10:hover {
  transform:scale(1.1);
}
/* ********************************************************** */


#h3-2-4{
  margin-top: 8%;
  font-size: 4em;
  font-family: 'STALKER2', sans-serif;
  text-align: center;
  margin-right: 43%;
}
#img-2-11{
  max-width: 600px;
  float: left;
  margin-left: 16.5%;
}
#p-2-5{
  margin-top: 8%;
  margin-left: 50%;
  margin-right: 015%;
  margin-bottom: 300px;
  font-size: 1.6em;
  font-family: 'STALKER1', sans-serif;
}

/* ********************************* */
.images-container {
  display: grid;
  max-width: 800px;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.images-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* *****************************************************************************partie3********************************************************************************* */

#h2-3{
  margin-top: 300px;
  font-size: 7.5em;
  font-family: 'AmazS.T.A.L.K.E.R.v.3.0', sans-serif;
  text-align: center;
}
#p-3-1{
  margin-top: -2%;
  margin-left: 23%;
  margin-right: 23%;
  font-size: 1.6em;
  font-family: 'STALKER1', sans-serif;
  text-align: center;
}
#trait-1 {
  margin-top: 2%;
  background-color: rgb(31, 27, 27);
  height: 7px;
  width: 420px;
  margin-left: 730px;
  display: flex;
  border-radius: 3px 3px 3px 3px;
}
#p-3-1:hover {
  transform:scale(1.008);
}
/* ************************************************ */
#h3-3-1{
  margin-top: 12%;
  font-size: 3.6em;
  font-family: 'STALKER2', sans-serif;
  text-align: center;
}
#p-3-2{
  margin-top: -10px;
  margin-left: 12%;
  margin-right: 12%;
  font-size: 1.6em;
  font-family: 'STALKER1', sans-serif;
  text-align: center;
}
#img-3-1{
  max-width: 800px;
  margin-left: 32%;
  margin-top: 4%;
}
#trait-2 {
  margin-top: 1%;
  background-color: rgb(31, 27, 27);
  height: 5px;
  width: 480px;
  margin-left: 38%;
  display: flex;
  border-radius: 3px 3px 3px 3px;
}
#img-3-1:hover {
  transform:scale(1.005);
}
#p-3-2:hover {
  transform:scale(1.008);
}
/* **************************************************** */

#h3-3-2{
  margin-top: 13%;
  font-size: 3.7em;
  font-family: 'STALKER2', sans-serif;
  text-align: center;
}
#img-3-2{
  max-width: 800px;
  margin-left: 33%;
  margin-top: 0px;
  border: 5px solid #000000;
  border-radius: 4px 4px 4px 4px;
  -webkit-box-shadow: 7px 10px 23px 8px #000000; 
  box-shadow: 7px 10px 23px 8px #000000;
}
#p-3-3{
  margin-top: 3%;
  margin-left: 22%;
  margin-right: 22%;
  font-size: 1.6em;
  font-family: 'STALKER1', sans-serif;
  text-align: center;
}
#img-3-3{
  max-width: 900px;
  margin-left: 26%;
  margin-top: 4%;
  border: 2px inset #000000;
  border-radius: 4px 4px 4px 3px;
  -webkit-box-shadow: 13px 13px 38px 10px #000000; 
  box-shadow: 13px 13px 38px 10px #000000;
}
#img-3-4{
  max-width: 900px;
  margin-left: 26%;
  margin-top: 3%;
  border: 2px inset #000000;
  border-radius: 4px 4px 4px 3px;
  -webkit-box-shadow: 13px 13px 38px 10px #000000; 
  box-shadow: 13px 13px 38px 10px #000000;
}
#img-3-3:hover {
  transform:scale(1.03);
}
#img-3-4:hover {
  transform:scale(1.03);
}
#img-3-2:hover {
  transform:scale(1.008);
}
#p-3-3:hover {
  transform:scale(1.008);
}
/* *************************************************** */
#couleur-arrier-6{
  background-image: linear-gradient(to bottom, #ffffff, #202020d8, #ffffff);
  height: 2100px;
  padding-top:0%;
}
#h3-3-3{
  margin-top: 13%;
  font-size: 4.5em;
  font-family: 'STALKER2', sans-serif;
  text-align: center;
}
#p-3-4{
  margin-top: 50px;
  margin-left: 16%;
  margin-right: 16%;
  font-size: 1.6em;
  font-family: 'STALKER1', sans-serif;
  text-align: center;
}
#img-3-5{
  max-width: 900px;
  margin-left: 26%;
  margin-top: 40px;
  border: 2px inset #000000;
  border-radius: 3px 3px 3px 3px;
  -webkit-box-shadow: 22px 28px 50px 18px #000000; 
  box-shadow: 22px 28px 50px 18px #000000;
}
#img-3-6{
  max-width: 900px;
  margin-left: 26%;
  margin-top: 4%;
  border: 2px inset #000000;
  border-radius: 3px 3px 3px 3px;
  -webkit-box-shadow: 22px 28px 50px 18px #000000; 
  box-shadow: 22px 28px 50px 18px #000000;
}
#img-3-7{
  max-width: 900px;
  margin-left: 26%;
  margin-top: 4%;
  border: 2px inset #000000;
  border-radius: 3px 3px 3px 3px;
  -webkit-box-shadow: 22px 28px 50px 18px #000000; 
  box-shadow: 22px 28px 50px 18px #000000;
}
#img-3-5:hover {
  transform:scale(1.035);
}
#img-3-6:hover {
  transform:scale(1.035);
}
#img-3-7:hover {
  transform:scale(1.035);
}
#p-3-4:hover {
  transform:scale(1.008);
}
/* ******************************************************** */
#couleur-arrier-7{
  background-image: linear-gradient(to bottom, #ffffff, #787878e5, #000000ca, #969696e5, #ffffff, #000);
  height: 6950px;
  padding-top:0%;
}
#h3-3-4{
  margin-top: 13%;
  font-size: 4.2em;
  font-family: 'STALKER2', sans-serif;
  text-align: center;
}
#p-3-5{
  margin-top: 4%;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 1.7em;
  font-family: 'STALKER1', sans-serif;
  text-align: center;
}
#img-3-8{
  max-width: 600px;
  margin-left: 34%;
  margin-top: 40px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, -1px 29px 20px -17px rgba(0,0,0,0.72); 
  box-shadow: 0px 10px 13px -7px #000000, -1px 29px 20px -17px rgba(0,0,0,0.72);
}
#img-3-9{
  max-width: 900px;
  margin-left: 26%;
  margin-top: 40px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, -1px 29px 20px -17px rgba(0,0,0,0.72); 
  box-shadow: 0px 10px 13px -7px #000000, -1px 29px 20px -17px rgba(0,0,0,0.72);
}
#img-3-10{
  max-width: 600px;
  margin-left: 34%;
  margin-top: 40px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, -1px 29px 20px -17px rgba(0,0,0,0.72); 
  box-shadow: 0px 10px 13px -7px #000000, -1px 29px 20px -17px rgba(0,0,0,0.72);
}
#img-3-11{
  max-width: 900px;
  margin-left: 26%;
  margin-top: 40px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, -1px 29px 20px -17px rgba(0,0,0,0.72); 
  box-shadow: 0px 10px 13px -7px #000000, -1px 29px 20px -17px rgba(0,0,0,0.72);
}
#img-3-12{
  max-width: 600px;
  margin-left: 34%;
  margin-top: 40px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, -1px 29px 20px -17px rgba(0,0,0,0.72); 
  box-shadow: 0px 10px 13px -7px #000000, -1px 29px 20px -17px rgba(0,0,0,0.72);
}
#img-3-13{
  max-width: 900px;
  margin-left: 26%;
  margin-top: 40px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, -1px 29px 20px -17px rgba(0,0,0,0.72); 
  box-shadow: 0px 10px 13px -7px #000000, -1px 29px 20px -17px rgba(0,0,0,0.72);
}
#img-3-14{
  max-width: 600px;
  margin-left: 34%;
  margin-top: 40px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, -1px 29px 20px -17px rgba(0,0,0,0.72); 
  box-shadow: 0px 10px 13px -7px #000000, -1px 29px 20px -17px rgba(0,0,0,0.72);
}
#img-3-15{
  max-width: 900px;
  margin-left: 26%;
  margin-top: 40px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, -1px 29px 20px -17px rgba(0,0,0,0.72); 
  box-shadow: 0px 10px 13px -7px #000000, -1px 29px 20px -17px rgba(0,0,0,0.72);
}
#img-3-16{
  max-width: 900px;
  margin-left: 26%;
  margin-top: 5%;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, -1px 29px 20px -17px rgba(0,0,0,0.72); 
  box-shadow: 0px 10px 13px -7px #000000, -1px 29px 20px -17px rgba(0,0,0,0.72);
}
#p-3-5:hover {
  transform:scale(1.008);
}
#img-3-8:hover {
  transform:scale(1.014);
}
#img-3-9:hover {
  transform:scale(1.014);
}
#img-3-10:hover {
  transform:scale(1.014);
}
#img-3-11:hover {
  transform:scale(1.014);
}
#img-3-12:hover {
  transform:scale(1.014);
}
#img-3-13:hover {
  transform:scale(1.014);
}
#img-3-14:hover {
  transform:scale(1.014);
}
#img-3-15:hover {
  transform:scale(1.014);
}
#img-3-16:hover {
  transform:scale(1.014);
}
/* ************************************ */
#h3-3-5{
  margin-top: 17%;
  font-size: 4.6em;
  font-family: 'STALKER2', sans-serif;
  margin-left: 15%;
}
#p-3-6{
  margin-top: -32%;
  margin-left: 47%;
  margin-right: 20%;
  font-size: 2.1em;
  font-family: 'STALKER1', sans-serif;
  float: right;
}
#img-3-17{
  max-width: 500px;
  margin-left: 15%;
  margin-top: 0%;
  -webkit-box-shadow: 11px 13px 25px 10px #000000; 
box-shadow: 11px 13px 25px 10px #000000;
}
#img-3-17-2{
  max-width: 500px;
  margin-left: 56%;
  margin-top: -26%;
  border-radius: 3px 3px 3px 3px;
  -webkit-box-shadow: 15px 18px 38px 13px rgba(0,0,0,0.86); 
  box-shadow: 15px 18px 38px 13px rgba(0,0,0,0.86);
}
#img-3-18{
  max-width: 1700px;
  margin-left: 5%;
  margin-top: 8%;
  border: 4px solid #000000;
  border-radius: 3px 3px 3px 3px;
  -webkit-box-shadow: 10px 10px 33px 3px #000000; 
  box-shadow: 10px 10px 33px 3px #000000;
}
#img-3-19{
  max-width: 1700px;
  margin-left: 5%;
  margin-top: 3%;
  border: 4px solid #000000;
  border-radius: 3px 3px 3px 3px;
  -webkit-box-shadow: 10px 10px 33px 3px #000000; 
  box-shadow: 10px 10px 33px 3px #000000;
}
#img-3-20{
  max-width: 1700px;
  margin-left: 5%;
  margin-top: 3%;
  border: 4px solid #000000;
  border-radius: 3px 3px 3px 3px;
  -webkit-box-shadow: 10px 10px 33px 3px #000000; 
  box-shadow: 10px 10px 33px 3px #000000;
}
#img-3-17:hover {
  transform:scale(1.014);
}
#img-3-18:hover {
  transform:scale(1.01);
}
#img-3-19:hover {
  transform:scale(1.01);
}
#img-3-20:hover {
  transform:scale(1.01);
}

/* *****************************************************************************partie4********************************************************************************* */

#p-4-1{
  margin-top: 300px;
  margin-left: 12%;
  margin-right: 12%;
  font-size: 3.5em;
  font-family: 'STALKER1', sans-serif;
  text-align: center;
}
#img-4-1{
  max-width: 1200px;
  margin-left: 16%;
  margin-top: 1%;
  -webkit-box-shadow: 10px 10px 33px 3px #000000; 
  box-shadow: 10px 10px 33px 3px #000000;
  border: 1px solid #000000;
  border-radius: 3px 3px 3px 3px;
}











